:root {
	--bg: #fbf1c7;
	--bg-1: #ebdbb2;
	--bg-2: #d5c4a1;
	--bg-3: #bdae93;
	--bg-4: #f2e5bc;
	--bg-5: #a89984;
	--fg: #3c3836;
	--fg-1: #282828;
	--fg-2: #504945;
	--fg-3: #665c54;
	--fg-4: #7c6f64;
	--red: #cc241d;
	--red-1: #9d0006;
	--red-2: #fb4934;
	--green: #98971a;
	--green-1: #b8bb26;
	--green-2: #79740e;
	--yellow: #d79921;
	--yellow-1: #fabd2f;
	--yellow-2: #b57614;
	--blue: #458588;
	--blue-1: #076678;
	--blue-2: #83a598;
	--purple: #b16286;
	--purple-1: #d3869b;
	--purple-2: #8f3f71;
	--aqua: #689d6a;
	--aqua-1: #427b58;
	--aqua-2: #8ec07c;
	--gray: #a89984;
	--gray-1: #928374;
	--gray-2: #7c6f64;
}
